DATA TYPES AND STRUTURES QUESTIONS

1. What are data structures, and why are they important.
  - Data structures are formats used to organize and store data efficiently.
They are important because they improve performance and scalability, allow efficient data access and manipulation, provide a foundation for algorithms.

2.  Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be changed after creation (e.g., list, dict), while immutable types cannot (e.g., str, tuple).
  -   lst = [1, 2]; lst.append(3)  # Mutable  
s = "hi"; s[0] = "H"  # Error, strings are immutable

3.  What are the main differences between lists and tuples in Python.
  - Lists: Mutable, slower, use more memory, defined with []

  - Tuples: Immutable, faster, use less memory, defined with ()

4. Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs in a hash table. Each key is hashed to determine its storage index, allowing fast retrieval.

5. Why might you use a set instead of a list in Python.
  - Use a set to store unique elements and for fast membership tests. Sets remove duplicates automatically and offer O(1) lookup time.

6.  What is a string in Python, and how is it different from a list.
  - A string is an immutable sequence of characters. Unlike a list, you cannot change a string’s characters individually. Lists are mutable.

7.  How do tuples ensure data integrity in Python.
  - Tuples are immutable, preventing accidental changes. Once defined, their contents can't be altered, making them ideal for constant data.

8. What is a hash table, and how does it relate to dictionaries in Python.
  - A hash table stores data using key-value pairs, using a hashing function to index keys. Python dictionaries use hash tables internally.

9. Can lists contain different data types in Python.
  - Yes. Python lists are heterogeneous, meaning they can store elements of different types:
  - [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
  - Strings are immutable to ensure consistency, memory efficiency, and thread safety. Any modification creates a new string object.

11. What advantages do dictionaries offer over lists for certain tasks.
  - Dictionaries provide fast lookups using keys (O(1) average time), making them ideal for mappings (e.g., ID to name), unlike lists (O(n)).

12.  Describe a scenario where using a tuple would be preferable over a list.
  - Use a tuple to store fixed data that shouldn't change, like coordinates (x, y), RGB values, or keys in a dictionary.

13.  How do sets handle duplicate values in Python.
  - Sets automatically discard duplicates.
  - set([1, 2, 2, 3])  # Output: {1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries.
  - For lists: Checks if a value exists (linear time).
  - For dicts: Checks if a key exists (constant time).

15. Can you modify the elements of a tuple? Explain why or why not.
  - No. Tuples are immutable. Once created, elements can't be changed or reassigned.

16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary contains dictionaries as values.
  - Example:
students = {"Alice": {"age": 25, "grade": "A"}}
Useful for hierarchical

17. Describe the time complexity of accessing elements in a dictionary.
  - On average, dictionary lookup is O(1) due to hash table implementation. Worst case is O(n), but rare.

18. In what situations are lists preferred over dictionaries.
  - Use lists when:
Order matters,
You need to store sequences,
No key-based lookup is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
  - Prior to Python 3.7, dicts were unordered. Now, they preserve insertion order, but logically remain key-based without positional access.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
  - List: Access by index (position) → lst[0]
  - Dictionary: Access by key → dct["name"]
  - Dictionaries allow faster lookups when using unique identifiers

**PRACTICAL QUESTIONS**

In [ ]:
# Write a code to create a string with your name and print it.
my_name = "SNEHA"

# Print the string
print("My name is:", my_name)

My name is: SNEHA

In [ ]:
# Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print("The length of the string is:", length)

The length of the string is: 11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters are:", sliced_text)

First 3 characters are: Pyt

In [ ]:
#  Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

In [ ]:
#  Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
numbers = list(range(1, 6))
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element is:", second_element)

Second element is: b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second-to-last element is:", second_last)

Second-to-last element is: blue

In [ ]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number is:", minimum)

Minimum number is: 5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("Index of 'cat' is:", index_of_cat)

Index of 'cat' is: 1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'a', 'b', 'c'}

In [ ]:
#  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [ ]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Updated set:", my_set)

Updated set: {1, 2, 3}

In [ ]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [ ]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [ ]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [ ]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'John', 'age': 30}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print("Sorted list:", random_list)

Sorted list: [9, 19, 58, 81, 97]

In [ ]:
#  Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", words[3])

Element at index 3: date

In [ ]:
#  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'apple', 'banana'}